@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Business Address</h1>
    <p class="lead">GitHub Repositorio</p>
    <p><a href="https://github.com/joguzmandev/business_address" target="_blank"  class="btn btn-link btn-primary btn-lg">Visita el Repositorio</a></p>
</div>

